:root {
    --accent: var(--accent);
    --bg: #var(--bg);
}

* {
  user-select: none;
  -webkit-user-select: none;
}

input, textarea, [contenteditable] {
  user-select: text;
  -webkit-user-select: text;
}

button {
  background: none;
  border: none;
}

html, body, #root {
  background: #080d1a;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


@import "tailwindcss";